configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 18";
  modi: "window,run,drun";
  show-icons: true;
}
@theme "~/.config/rofi/onedark.rasi"
